
<!doctype html>
<html lang='en'>
    <body>
        <main>
        </main>
    </body>
</html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>LVL0</title>
    </head>
  <body>
    <nav>
        <a href='/result'>Домашняя страница</a>
    </nav>
    <p>Введили номер заказа</p>
    <form action='result'>
      <input name='a'>
      <input type='submit'>
    </form>
    <div class="order">
        {{ if . }}
            {{ template "order" . }}
        {{ else }}
            <span>Нет данных</span>
        {{ end }}
    </div>
  </body>
</html>